.events {
    text-align: center;
    padding: 20px;
}

.events-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 20px; 
}

.event-frame {
    border: 2px solid #007bff; 
    border-radius: 10px; 
    padding: 20px;      
    background-color: black; 
    transition: transform 0.3s, box-shadow 0.3s; 
    width: 300px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    color:skyblue;
}

.event-frame:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);
}
